streamlit>=1.15.1,<2.0.0
nltk
scikit-learn
streamlit-extras
streamlit-option-menu
markdownlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-faker
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
